@font-face {
    font-family: "Sharp-Sans-Extrabold" ;
    src: url("../fonts/Sharp\ Sans\ Extrabold.otf");
}
@font-face {
    font-family: "Sharp-Sans-Bold" ;
    src: url("../fonts/Sharp\ Sans\ Bold.otf");
}
@font-face {
    font-family: "Sharp-Sans-Semibold" ;
    src: url("../fonts/Sharp\ Sans\ Semibold.otf");
}
@font-face {
    font-family: "Sharp-Sans-Medium" ;
    src: url("../fonts/Sharp\ Sans\ Medium.otf");
}
@font-face {
    font-family: "Sharp-Sans-Light" ;
    src: url("../fonts/Sharp\ Sans\ Light.otf");
}
@font-face {
    font-family: "Sharp-Sans" ;
    src: url("../fonts/Sharp\ Sans.otf");
}

:root {
    --primary: #0162d3;
    --secondary: #a1a7ad;
    --black: #13061d;
    --gray: #444444;
    --blue: #023a77;
    --red: #BC1F28;
    --white: #ffffff;
    --background: #F9F9F9;
    --graylight: #B4BEC6;
    --gray400: #919293;
    --gray100: #ececec;
}

body{
    font-family: "Sharp-Sans-Medium";
}
.bg-blue{background-color: var(--blue);}
.bg-gris{background-color: #F9F9F9;}
.text-blue{
    color: #182D45 !important;
}
a{
    text-decoration: none !important;
}
h1{
    font-family: "Sharp-Sans-Bold";
}
table.table thead{
    background-color: var(--gray100);
    color: var(--gray400);
    font-family: "Sharp-Sans";
    font-size: .9rem;
}
table.table thead th {
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: none;
    border-top: none;
}
table.table tbody tr{
    padding: 15px 10px;
    color: var(--black);
    font-size: .9rem;
    height: 40px;
}
table.table tbody tr td{
    padding-left: 3%;
    padding-right: 3%;
    line-height: 40px;
}
table.table tbody tr td a{
    color: var(--blue);
}
table.table tbody tr td a span{
    position: relative;
}
table.table tbody tr td a img{
    margin-left: 10px;
    width: 20px;
}
table.table tbody tr td:nth-child(1){
    font-size: 1.1rem;
}
table.table tbody tr td:nth-child(2){
    font-family: "Sharp-Sans-Bold";
}
.menu .nav-link{
    font-size: 1.1rem;
    font-family: "Sharp-Sans-Bold";
}
.menu .nav-link a{
    color: white;
}
.nav-top{
    width: 100%;
    background-color: var(--blue);
}
.nav-top p{font-size: .9rem;}

#nav-top{
    display: flex;
}
#nav-sticky,
#navbar-sticky,
#navbar-brand-sticky,
#nav-top{
    transition: all .3s;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
}
.btn-background{
    color: var(--white);
    background-color: var(--blue);
    border-radius: 5px;
    border: 0;
    align-items: center;
    font-family: "Sharp-Sans-Semibold";
}
.container-main {
    background-image: url('../assets/background.jpg');
    height: 100vh;
    background-size: cover;
}
.container-main-page{
    background-image: url('../assets/background-page.jpg');
    height: 60vh;
    background-size: cover;
}
.container-us_info{
    z-index: 9;
    width: 50%;
    margin-top: -70px;
}
.container-us_info div{
    width: 70%;
}
.container-us_video{
    z-index: 9;
    margin-top: -90px;
}
.container-us_video a img{
    width: 90%;
}
.container-main h1{
    font-size: 3.5rem;
    line-height: 3.2rem;
}
.container-main h2{
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
}
.container-main .container-discover_bottom{
    bottom: 110px;
}
.container-main .container-discover{
    position: absolute;
    right: 13%;
}
.container-mantein{
    width: 80%;
}
.container-mantein img{
    width: 120px;
}
.container-mantein h3{
    margin-top: 1.3rem;
    font-size: 1rem;
    font-family: "Sharp-Sans";
}
.title-page-big{
    position: absolute;
    font-size: 7rem;
    color: #E8ECF5;
    font-family: "Sharp-Sans-Extrabold";
    left: 50%;
    margin-left: -400px;
    top: -50%;
    z-index: 9;
}
.subtitulo-page{
    letter-spacing: .2rem;
    font-size: 1.1rem;
    font-family: "Sharp-Sans-Bold";
    text-transform: uppercase;
    color: var(--blue);
}
.container-arbitrary{
    margin-top: 6.5rem;
    padding-bottom: 5rem;
}
.container-arbitrary_item{
    width: 50%;
    /* margin-bottom: 2.5rem; */
}
.container-arbitrary_items img{
    width: 42px;
}
.container-organization{
    position: relative;
    padding: 4.5rem;
}
.container-organization::after{
    content: "";
    width: 250px;
    height: 250px;
    background-color: var(--secondary);
    position: absolute;
    top: -35px;
    left: -35px;
    z-index: -1;
}
.container-organization_person div{
    text-align: center;
    margin-right: 6em;
}
.container-discover a .container-image-discover img{
    width: 23px;
    height: 23px;
}
.container-discover a {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: .2rem;
    font-size: 1.1rem;
    font-family: "Sharp-Sans-Bold";
    text-transform: uppercase;
    transition: all .4s;
}
.container-discover a:hover{
    font-size: 1.13rem;
}
.container-image-discover{
    width: 57px;
    height: 57px;
    background-color:  var(--blue);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all .4s;
}
.container-clauses{
    position: absolute;
    font-size: 1rem;
    bottom: 70px;
    left: 25%;
}
.container-clauses a{
    color: var(--white);
}
.container-clauses span{
    text-transform: uppercase;
    font-family: "Sharp-Sans-Bold";
    font-size: 1.15rem;
}
.container-clauses div{
    position: relative;
}
.container-clauses div::after{
    content: "-";
    background-image: url('../assets/line.svg');
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    color: transparent;
    position: absolute;
    width: 100%;
    transition: all .3s;
}
.container-clauses div:hover::after{
    background-image: url('../assets/curve-line.svg');
    background-size: 100%;
    bottom: 9%;
}
.nav-item a{position: relative;}
.nav-item .nav-link{
    cursor: pointer;
}
.nav-item .nav-link::before,
table.table tbody tr td a span::before{
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--red);
    bottom: 8px;
    left: 0;
    width: 0;
    transition: all .4s;
}
.nav-item .nav-link:hover::before,
.nav-item .nav-link.active::before,
table.table tbody tr td a:hover span::before{
    width: 100%;
}
.dropdown-menu{
    background-color: var(--gray100);
}
.dropdown-item.active, .dropdown-item:active {
    font-family: "Sharp-Sans-Semibold";
    color: var(--white);
    text-decoration: none;
    background-color: var(--red);
}
.subtitle-arbitrary{
    margin-left: 3rem;
    padding-left: 2rem;
    font-size: 1.1rem !important;
}
.subtitle-arbitrary::before{
    content: "";
    width: 55px;
    border-bottom: 2px solid var(--blue);
    position: absolute;
    left: -10%;
    top: 10%;
}
.body-container_row{
    padding-left: 10%;
    padding-right: 10%;
}
.body-container_row p{
    line-height: 1rem;
    width: 70%;
    margin-bottom: 0;
}
.body-container_row .body-container-rulers_info{
    width: 80%;
}
.body-container_row span{
    font-family: "Sharp-Sans-Medium" !important;
    font-size: 1.7rem !important;
}
.body-container_row p,
.body-container_row span{
    font-family: "Sharp-Sans-Bold";
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--blue);
    font-size: .8rem;
    text-align: left;
}
.body-container_clause{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.body-container_clause img{
    width: 60px;
}
.body-container_clause p{
    position: relative;
}
.body-container_clause p::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    border-bottom: 2.5px solid var(--red);
    width: 0;
    transition: all .9s;
}
.body-container_clause:hover p::before{
    width: 95%;
}
.body-container_clause small{
    font-size: .9rem;
    color: var(--gray400);
}
.body-container_clause span.number-rulers{
    font-size: 1.4rem !important;
}
.container-services{
    width: 40%;
}
.container-services hr,
.container-rulers hr{
    margin-bottom: .5rem;
    margin-top: .5rem;
    border: 1px solid var(--gray100);
}
.container-rulers{
    width: 70%;
}
/* WHO */
.container-who, 
.container-testi, 
.container-events, 
.container-news,
.container-contact{
    margin-top: 6rem;
    padding-bottom: 7rem;
}
.section-organization{
    padding: 7rem;
    z-index: -2;
    position: relative;
}
.container-who p, .container-testi p,
.container-info p:nth-child(1),
.container-contact p:nth-child(1){
    font-size: 1.1rem;
    font-family: "Sharp-Sans-Semibold";
    color: var(--secondary);
}
.container-who h2, .container-testi h2,
.container-contact h1,
.titulo-page{
    font-size: 2.4rem;
    font-family: "Sharp-Sans";
}
.container-icon_check{
    width: 50px;
    height: 50px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px #888888;
}
.container-icon_check img{
    width: 15px;
    height: 15px;
}
.container-who_text{
    max-width: 80%;
}
.container-people .container-people_info{
    width: 33.3%;
}
.container-people{
    margin-top: 5rem;
}
.container-people h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--secondary);
    font-family: "Sharp-Sans-Semibold";
}
.container-people p,
.container-contact p:nth-child(3),
.text-info-page{
    color: var(--gray);
    font-size: 1rem;
    font-family: "Sharp-Sans";
}
.container-who_team{
    position: absolute;
    right: 10%;
    bottom: 5px;
}

/* FORM */
.subtitle{
    margin-bottom: 0;
    font-size: 1.1rem !important;
    font-family: "Sharp-Sans-Semibold" !important;
}
.container-form {
    background-color: var(--secondary);
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 65%;
    padding-right: 2%;
}
.container-conflicts {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin-top: 5rem;
    padding-bottom: 5rem;
}
.container-conflicts p {
    color: var(--white);
}
.container-form h1 {
    font-size: 2.4rem;
    color: var(--white);
    font-family: "Sharp-Sans-Semibold";
}
.container-form p {
    font-size: 1rem;
    font-family: "Sharp-Sans";
}
.container-person_natural{
    width: 40%;
    height: 230px;
    background-color: var(--blue);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-right: 5%;
    padding-top: 5%; */
    box-sizing: border-box;
    margin-top: 50px;
}
.container-person_natural_img{
    /* position: absolute; */
    width: 75px;
    /* height: 130%; */
    /* bottom: 0; */
}
.container-person_natural_details,
.container-juridic_details{
    z-index: 99;
}
.container-person_natural_details h3,
.container-juridic_details h3{
    font-size: 2.2rem;
    font-family: "Sharp-Sans-Semibold";
}
.arrow-down_natural{
    width: 55px;
    height: 55px;
    background-color:  var(--white);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    margin-right: 5%;
    cursor: pointer !important;
    border: none;
    margin-top: 2rem;
}
/* .container-juridic_details{
    padding-top:12%;
    padding-right: 12%;
} */
.container-juridic_details h3,
.container-juridic_details p{
    color: var(--blue);
}
.img-juridic_people{
    width: 95px;
}
.container-juridic{
    width: 17%;
    height: 230px;
    background-color: var(--white);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    align-self: start;
    padding:0;
    margin-left: 2%;
    margin-top: 7.6%;
    box-shadow: 0px 0px 17px 0.5px #d2d2d2;
}
.icon-juridic-right{
    width: 55px;
    height: 55px;
    background-color:  var(--blue);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    margin-right: 5%;
    border: none;
    margin-top: 2rem;
    cursor: pointer !important;
}
form{
    width: 75%;
    margin-top: 4rem;
}
input:focus {
    outline: none;
    box-shadow: none;
}
.container-form form input,
.container-contact form input {
    margin-bottom: 2.5rem;
    background-color: transparent;
    border: 0px;
    width: 100%;
    height: 45px;
    text-decoration: underline;
    text-decoration-color: var(--white);
    text-decoration-thickness: 30px;
    text-decoration-style: solid;
    color: var(--white);
    font-size: 1.1rem;
    border-bottom: 1px solid var(--white);
}
.container-form form button {
    padding: 15px 25px;
    margin-right: 12%;
    color: var(--white);
    font-family: "Sharp-Sans-Semibold";
}
.container-form form p {
    color: var(--background);
    margin: 0;
}
.container-form form a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
    transition: all .3s;
}
.container-form form a:hover{
    padding-bottom: .5px;
    border-bottom: 2px solid var(--red);
}

/* TEMA TESTI */
.container-team{
    margin-top: 5rem;
    width: 80%;
}
.container-testi_info p:nth-child(1){
    color: var(--blue);
    font-size: 2.2rem;
    margin-bottom: 0;
}
.container-testi_info p:nth-child(2){
    color: var(--gray);
    font-size: 1.5rem;
    margin-bottom: 0;
    font-family: "Sharp-Sans-Light";
}
.container-comma{
    margin-top: 5rem;
}
.container-comma p{
    font-size: 1.8rem;
    font-family: "Sharp-Sans-Semibold";
}

/* NEWS */

.container-info {
    background-color: var(--secondary);
    width: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 60vh;
}
.container-info p {
    color: var(--white);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
}
.container-info img{
    height: 30vh;
    width: 100%;
}
.button-news{
    position:absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding:0;
    width: 12%;
    height: 15%;
    background-color: var(--blue);
    border:0;
    cursor: pointer;
}
.button-news img{
    height: 20px;
    width: 20px;
}
.container-info p:nth-child(2){
    color: var(--white);
}
.container-info p:nth-child(1){
    color: var(--white);
    font-size: 2.5rem;
    font-family: "Sharp-Sans";
}
.container-info p:nth-child(3){
    margin-top: 1.3rem;
    font-size: 1rem;
    font-family: "Sharp-Sans";
}
.container-last-news {
    /* padding-left: 10%; */
    width: 55%;
}
.container-last-news div:nth-child(1) p,
.container-events .sub-title{
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: "Sharp-Sans-Semibold";
    color: var(--secondary);
    line-height: .7rem;
}
.container-last-news div:nth-child(1) h1,
.container-events .title{
    font-size: 4rem;
    color: var(--graylight);
    font-family: "Sharp-Sans-Extrabold";
}
.container-last-news div:nth-child(2){
    width: 70%;
    text-align: left;
    font-size: 1.1rem;
    font-family: "Sharp-Sans-Semibold";
}
.container-last-news div:nth-child(2) a p{
    color: var(--graylight);
    margin-bottom: 2rem;
    position: relative;
    transition: all .4s;
}
.container-last-news div:nth-child(2) a p::after{
    content: "";
    position: absolute;
    width: 250px;
    border-bottom: 2.5px solid var(--red);
    left: -220px;
    bottom: 0;
    opacity: 0;
}
.container-last-news div:nth-child(2) a.active p,
.container-last-news div:nth-child(2) a:hover p{
    color: var(--blue);
}
.container-last-news div:nth-child(2) a.active p::after,
.container-last-news div:nth-child(2) a:hover p::after{
    opacity: 1;
}


/* EVENTS */
.container-event{
    width: 70%;
    margin: auto;
}
.container-event_date{
    width: 15%;
}
.container-event_info{
    width: 35%;
}
.container-event_img{
    width: 50%;
}
.container-event_img img{
    width: 90%;
}
.container-event_date p:nth-child(1){
    font-size: 1.3rem;
    margin-bottom: 0;
    color: var(--blue);
    font-family: "Sharp-Sans-Semibold";
}
.container-event_date p:nth-child(2){
    font-size: 5.2rem;
    color: var(--graylight);
    font-family: "Sharp-Sans-Semibold";
    margin: 0px;
    padding: 0;
    line-height: 4.5rem;
}
.img-event {
    width: 60%;
    margin-left: 3%;
    margin-right: 6%;
}
.container-event_info .container-event_title h2{
    margin-bottom: 0;
    font-size: 1.6rem;
    font-family: "Sharp-Sans-Semibold";
    color: var(--blue);
}
.container-event_info .container-event_title p{
    margin-bottom: 0;
    font-size: 1.3rem;
    font-family: "Sharp-Sans-Semibold";
    color: var(--gray400);
}
.container-event_info .container-event_details div{
    display: flex;
    flex-direction: row;
}
.container-event_info .container-event_details div p:nth-child(1),
.container-event_info .container-event_register p:nth-child(1){
    margin-bottom: 0;
    font-size: 1.2rem;
    font-family: "Sharp-Sans-Semibold";
    color: var(--blue);
    line-height: 2rem;
}
.container-event_info .container-event_details div p:nth-child(2){
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-family: "Sharp-Sans-Semibold";
    color: var(--gray400);
    line-height: 2rem;
}
.container-event_info .container-event_register .link-event-register{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.container-event_info .container-event_register .link-event-register p,
.container-event_info .container-event_register a img{
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Sharp-Sans-Bold";
    color: var(--blue);
    line-height: 2rem;
}
.container-event_info .container-event_register .link-event-register::after{
    position: absolute;
    content: "";
    width: 0;
    border-bottom: 3px solid var(--red);
    bottom: 0;
    left: 0;
    transition: all .3s;
}
.container-event_info .container-event_register .link-event-register:hover::after{
    width: 100px;
}

.container-contact form{
    width: 40%;
    text-align: left;
    color: var(--secondary);
}
.container-contact form input {
    text-decoration-color: var(--gray);
    color: var(--gray);
    border-bottom: 1px solid var(--gray);
}

/* FOOTER */

footer {
    height: 60vh;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    margin:0;
    padding:0;
}
.footer-logo{
    width: 230px;
    align-self: flex-end;
    margin-right: 3%;
    margin-top: 5%;
}
hr{
    border: 1px solid rgba(255,255,255,.5);
    width: 90%;
}
.menu-footer{
    width: 60%;
}
.menu-footer a{
    color: var(--background);
    font-size: 1.3rem;
    font-family: "Sharp-Sans-Bold";
    transition: all .3s;
}
.menu-footer a:hover{
    color: var(--blue);
}
.container-options {
    width: 90%;
}
.container-options p{
    color: var(--graylight);
    font-family: "Sharp-Sans";
}
.container-options h4{
    margin-bottom: 1.7rem;
    font-size: 1.3rem;
    font-family: "Sharp-Sans-Bold";
}
.container-footer_text{
    width: 40%;
}
#navbar-brand-sticky{
    height: 85px;
}
.container-note{
    width: 90%;
}
.container-note p{
    font-size: .9rem;
}
.container-whois_map,.container-whois_info{
    width: 50%;
}
/* QUERY MEDIA  */

@media (min-width: 1440px){
    .nav .container{
        max-width: 1700px;
    }
    .container{
        max-width: 1400px;
    }
}

@media (min-width: 1024px){
    .info-slider{
        width: 1400px;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: .5rem;
        margin-left: .5rem;
    }
}

@media (max-width: 1440px){
    #navbar-brand-sticky{
        height: 75px !important;
    }
    .nav .container{
        max-width: 1400px;
    }
    .container, .info-slider{
        max-width: 1200px;
    }
    .container-main h1{
        font-size: 3rem;
    }
    .container-main .container-discover{
        right: 9%;
    }
    .container-main .container-discover a{
        font-size: 1rem;
    }
    .container-image-discover{
        width: 45px;
        height: 45px;
    }
    .container-clauses span{
        font-size: 1rem;
    }
    .menu .nav-link {
        font-size: 1rem;
    }
    .container-clauses {
        font-size: 1rem;
        left: 17%;
        bottom: 50px;
    }
    .container-who_text {
        max-width: 75%;
    }
    .container-form {
        padding-left: 10%;
        width: 60%;
    }
    .container-person_natural {width: 55%;}
    .container-juridic {width: 23%;margin-top: 8.5%;}
    form {width: 90%;}
    .container-last-news div:nth-child(1) p, .container-events .sub-title {
        font-size: 1.3rem;}
    .container-last-news div:nth-child(1) h1, .container-events .title {
        font-size: 4.3rem;}
    .container-event_info .container-event_title h2 {
        font-size: 1.4rem;}
    .container-event_info .container-event_title p,
    .menu-footer a {
        font-size: 1.1rem;}
    .container-event_info .container-event_details div p:nth-child(1), 
    .container-event_info .container-event_register p:nth-child(1),
    .container-event_info .container-event_details div p:nth-child(2),
    .container-discover {
        font-size: 1rem;}
    .container-testi_info p:nth-child(1) {
        font-size: 1.8rem;}
    .container-testi_info p:nth-child(2) {
        font-size: 1.2rem;}
    .container-comma p {
        font-size: 1.5rem;}
    .container-team {
        margin-top: 4rem;}
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        margin-right: .5rem;
        margin-left: .5rem;
    }
    .container-us_info div{
        width: 90%;
    }
    .container-services hr{
        margin-bottom: 0;
        margin-top: 0;
    }
    .body-container_clause img {
        width: 60px;
    }
    .container-options h4{
        font-size: 1rem;
    }
    .container-options p {
        font-size: .9rem;
    }

}
@media (max-width: 768px){
    .container-contact form{
        width: 90%;
    }
    hr{
        border: 1px solid white;
        width: 90%;
    }
}